.widget__livestream {
    background-color: #9c4274;
    .widget_flex {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .widget__img {
  
      width: 100%;
    }
  }